
body{
    font-family: Arial,sans-serif;
}
.header{
    width: 100%;
    background-image: linear-gradient(rgba(3, 46, 68, 0.8) ,rgba(8, 89, 129, 0.5) ),url(../img/IMG_1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height:100vh;
    position: relative;
}
.text-primary{
    color:#3693ff;
}
.header nav{
    position: relative;
    z-index: 20;
    display: block;
}
.header nav h2{
    margin: 30px 0 0 135px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 700;
    float:left;
    border: 5px solid #fff;
    padding: 5px 10px;
    border-radius: 15px;
}
.header nav .wrap{
    float: right;
    margin: 30px 50px 0 0 ;
}
.header nav .wrap a{
    display: inline-block;
    padding:5px 20px;
    margin-right: 5px;
    border: 5px solid transparent;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    transition: color .3s ,background-color .6s ;
}
.clear-fix{
    clear: both;
}
.header a{
    color:#fff;   
    text-decoration: none;
}
.header nav .wrap a:hover{
    color:#3693ff;
    background-color: #fff;
}
.header .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* height:100%; */
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;

    
}
.header .container h1{
    text-align: center;
    font-size: 42px;
    letter-spacing: 1px;
    color:#fff;
    font-weight: 700;
}
.header .container h1 .text-primary{
   display: block;
   margin-top: 20px;
}

.header .container .btn{
    margin-top: 20px;
    font-size: 22px;
    padding:10px 50px;
    border:1.5px solid #3693ff;
    border-radius: 10px;
    letter-spacing: 2px;
    transition:background-color .5s;

}
.header .container .btn:hover{
    background-color:#3693ff;
}
.about{
    margin-top:30px;
}
.about .container{
    width: 960px;
    margin:0 auto;
}
.about .container .title{
    width: 100%;
    font-size: 36px;
    color:#3693ff;
    text-align: center;
    font-weight: 700;
    padding:20px 0;
}
.about .container .content{
    display: flex;
    height:500px;
}
.about .container .content .image{
    width: 50%;
    position: relative;
}
.about .container .content .image img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.about .container .content .article{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about .container .content .article p{
    font-size: 16px;
    padding:20px 0;
    text-align: justify;
  text-justify: distribute;
    text-indent: 3em;
    letter-spacing: 1.5px;
    line-height: 30px;
    margin-bottom: 20px;

}
.about .container .content .article h2{
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
}
.skill{
    background: linear-gradient(to right,rgba(54,147,255,.5),rgba(54,147,255,.7));
    color:#3693ff;
}
.skill .container{
    width: 960px;
    margin:0 auto;
}
.skill .container .title {
    width: 100%;
    padding:40px 0;
    text-align: center;
    color:#fff;
    font-size: 36px;
    font-weight: 700;
}
.skill .container .content{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.skill .container .content .list{
    width:40%;
    background: #fff;
    border:5px solid #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #30336b;
}
.skill .container .content .list h2{
    text-align: center;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    padding: 20px 0;
}
.skill .container .content .list ul{
    list-style-type: none;
}
.skill .container .content .list ul li {
    padding:10px;
    margin-left: 10%;
}
.skill .container .content .list ul li .list-text{
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 30px;
}
.skill .container .content .list ul li i{
    padding:0 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
}
.skill .container .content .bars{
    /* width: 50%; */
    width:50%;
    background: #fff;
    border:5px solid #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #30336b;
}
.skill .container .bar-infor{
    padding:15px 20px;
    margin:20px 0;
}

.skill .container .content .bars .bar-infor .img{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.skill .container .content .bars .bar-infor h3{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.skill .container .content .bars .bar{
    margin-top: 20px;
    display: block;
    background-color: #3693ff;
    height: 15px;
    border: 2px solid #3693ff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #30336b;
}
.skill .container .content .bars .bar span{
    height: 15px;
    background:#fff;
    float: left;
    border: 2px solid #3693ff;
    border-radius: 5px;
    box-sizing: border-box;
}
.skill .bar .html{
    width: 86%;
    /* animation: html 2s; */
}
.skill .bar .css{
    width: 78%;
}
.skill .bar .javascript{
    width: 76%;
}
.skill .bar .reactjs{
    width: 66%;
}
.footer{
    width: 100%;
    padding:20px 0;
    font-size: 16px;
    letter-spacing: 1px;
    color:#3693ff;
    text-align: center;
}

/* @keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
} */